<form action="/home/edit/{{post.id}}" method="POST">
    <div class="card p-2 mb-5 border border-light">
        <div class="d-flex justify-content-between">
            <b><a href="/users/{{post.user.username}}?section=about">{{post.user.username}}</a></b>
            <div>
                <a href="/home/edit/{{post.id}}/delete" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-edit"></i></button>
            </div>
        </div>
        <textarea class="form-control overflow-y-auto mt-2 mb-2" name="message" rows="3" >{{post.message}}</textarea>
        <small>{{date post.createdAt}}</small>
    </div>
</form>