<div class="d-flex flex-row row pt-3">
  <div class="col-3">
    <div class="card border-light p-2 d-flex justify-content-start">
      <h5><i class="fa fa-thumbs-up"></i> My likes</h5>
      <div class="card-body">
        {{#each likes as |like|}}
          <a href="/users/{{like.to.username}}?section=about"><img class="avatar mb-1" src={{like.to.avatar}}></a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="justify-content-center col-6 mb-5">
      <div class="card border-light text-end mb-5">
        <div class="card-body">
          <form method="POST" action="/home" enctype="multipart/form-data">
                  <textarea class="form-control overflow-y-auto mb-2" name="message" rows="3" placeholder="What's on your mind, {{currentUser.username}}?"></textarea>
                  <div class="input-group mb-2">
                  <span class="input-group-text"><i class="fa fa-music"></i></span>
                  <textarea class="form-control" rows="1" aria-label="With textarea" name="song" placeholder="Share your Youtube URL to post a song"></textarea>
                  </div>
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="image"><i class="fa fa-picture-o"></i></label>
                    <input type="file" name="image" class="form-control {{#if errors.image}}is-invalid{{/if}}">
                  </div>
                  <button type="submit" class="btn btn-outline-light">Post</button>
              </form>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <h5>Feed</h5>
    <div class="card bg-secondary p-4">
      {{#each posts as |post|}} 
        <div class="card p-2 mb-5 border border-light">
            <div class="d-flex justify-content-between">
                <b><a href="/users/{{post.user.username}}?section=about">{{post.user.username}}</a></b>
                <div>
                    <a href="/home/edit/{{post.id}}" class="btn btn-outline-secondary {{activeEditButton post.user.username ../currentUser.username}}"><i class="fa fa-edit"></i></a>
                </div>
            </div>
            <textarea class="form-control overflow-y-auto mt-2 mb-2" name="message" rows="3" readonly>{{post.message}}</textarea>
            <div class="d-flex">
              {{#if post.image}}
              <img src="{{post.image}}" class="img-fluid max-size mx-auto" alt="...">
              {{/if}}
              {{#if post.song}}
              <div><iframe width="480" height="270" src="https://www.youtube.com/embed/{{post.song}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
              {{/if}}
            </div>
            <small>{{date post.createdAt}}</small>
        </div>
      {{/each}}
    </div>
</div>
  </div>
  <div class="col">
  <div class="card border-light">
    <h3 class="text-center">Because you like {{artistSeed.name}}</h3>
    {{#each artists as |artist|}}
      <div class="card-body">
        <img src={{artist.images.[0].url}} class="card-img-top" alt="...">
        <a href="/artist/{{artist.id}}" class="card-text text-decoration-none">{{artist.name}}</a>
      </div>
    {{/each}}
</div>
</div>
</div>


