<div class="row mb-4">
    {{#each users as |user|}}
        {{#isUser user ../currentUser}}
        <div class="card col-3 d-flex flex-column justify-content-between me-5 p-1" style="width: 250px; height: auto">
            <div class="d-flex flex-column">
                <img src="{{user.avatar}}" class="card-img-top" alt="avatar">
                <div class="card-body ">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p class="card-text">Favorite artists:
                        {{#each user.artists as |artist|}}
                        {{artist.name}}
                        {{/each}}
                    </p>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between m-2">
                <a class="btn btn-primary" href="users/{{user.username}}?section=about">Go to profile</a>
                {{#isLiked ../likes user.id}}
                <form action="/dislike/{{user.id}}?path=list" method="POST">
                    <button type="submit" class="btn btn-danger">Dislike <i class="fa fa-heart"></i></button>
                    </form>
                {{else}}
                <form action="/match/{{user.id}}?path=list" method="POST">
                    <button type="submit" class="btn btn-danger">Like <i class="fa fa-heart"></i></button>
                </form>
                {{/isLiked}}
            </div>
        </div>    
        {{/isUser}}
    {{/each}}
</div>
<div>