<div class=" d-flex justify-content-start p-2 mb-5 bg-secondary rounded" style="--bs-bg-opacity: .5;">
    <form method="POST" action="/home" enctype="multipart/form-data">
        <input type="file" name="avatar" hidden>
        <label for="avatar-image">
          <button type="submit" onclick="findAvatar()"><img class="avatar"src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar Image"></button>
        </label>
    </form>
    <h2 class="ps-3 modal-dialog-centered flex-grow-1">{{user.username}}</h2>
    <div>
        <a class="btn btn-secondary me-1">Add photo</a>
        <a class="btn btn-secondary me-1">Random</a>
        <a class="btn btn-secondary">Random</a>
    </div>
</div>

<div class="container d-flex">
    <div class="row container-fluid">
        <div class="sidebar col">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a href="/users/{{user.username}}?section=about" class="btn {{activeButtonClass 'about' currentSection}} mb-1" type="button">Overview</a>
                    <a href="/users/{{user.username}}?section=tastes" class="btn mb-1 {{activeButtonClass 'tastes' currentSection}}" type="button">Tastes</a>
                    <a href="/users/{{user.username}}?section=activity" class="btn mb-1 {{activeButtonClass 'activity' currentSection}}" type="button">Activity</a>
                    <a href="/users/{{user.username}}?section=songs" class="btn mb-1 {{activeButtonClass 'songs' currentSection}}" type="button">Songs</a>
                    <a href="/users/{{user.username}}?section=events" class="btn {{activeButtonClass 'events' currentSection}}" type="button">Events</a>
                </div>
            </div>
         </div>
        
         <div class="content col-8">
            <div class="about {{activeSectionClass 'about' currentSection}}">
                {{> aboutme}}
            </div>
            <div class="favorites card {{activeSectionClass 'tastes' currentSection}}">
                {{> tastes}}
            </div>
            <div class="favorites card {{activeSectionClass 'activity' currentSection}}">
                {{> activity}}
            </div>
            <div class="favorites card {{activeSectionClass 'songs' currentSection}}">
                {{> songs}}
            </div>
            <div class="favorites card {{activeSectionClass 'events' currentSection}}">
                {{> events}}
            </div>
         </div>

         <div class="col sidecontent">
             <div class="card mb-5">
                <div class="card-body">
                    <p class="card-text">My photos</p>
                </div>
                <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Facts about me:</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nationality</li>
                        <li class="list-group-item">Height</li>
                        <li class="list-group-item">Orientation</li>
                    </ul>
                </div>
                </div>
         </div>
    </div>
</div>

